!!!
%html
  %head
    %title CupcakeGame
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    #container
      #navbar
        Cupcake Game
        #inner-navabar
          Login Sign-Up
      #content
        #cupcake_goal
          %img(src="/IMG_0676.JPG")
        #scoring
        #game
      = yield
