!!!
%html
  %head
    %title CupcakeGame
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "cupcakes"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    #container
      .row#navbar
        #logo
          Cupcake Game
        #login
          Login 
          Sign-Up
      #content
<<<<<<< HEAD
=======
        #cupcake_goal
          %img(src="/IMG_0676.JPG")
        #scoring
        #game
>>>>>>> 276c1552a0cebc99760b53d1ebc0dbb00e75dbd9
        = yield
