!!!
%html
  %head
    %title CupcakeGame
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "cupcakes"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    #container
      #navbar
        Cupcake Game
        #inner-navabar
          Login Sign-Up
      #content
        #scoring
        #game
      = yield
